.dashboard-container {
  display: flex;
  height: 100vh;
  background: #f4f6f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #f0f1eb9f;
  color: #050505;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  position: relative;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  padding: 0 15px;
}

.logo {
  width: 150px;
}

.sidebar-search {
  width: 90%;
  background: #d8dfe6;
  padding: 6px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.sidebar-search input {
  border: none;
  outline: none;
  background: transparent;
  margin-left: 5px;
  width: 100%;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
}

.menu-item:hover,
.menu-item.active {
  background: #0c5ac8;
  color: #150707;
  border-radius: 6px;
}

/* Floating submenu */
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background:#f0f1eb9f;
  
  border-radius: 6px;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  display: none;
  min-width: 180px;
  z-index: 1000;
}

.submenu.show {
  display: block;
}

.submenu li {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s;
}

.submenu li:hover {
  background: #0c5ac8;
  color: #fdfafa;
  border-radius: 6px;
}

.chevron {
  margin-left: auto;
  transition: transform 0.3s;
}

.chevron.rotated {
  transform: rotate(90deg);
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #f0f1eb9f;
  border-radius: 8px;
  margin: 10px;
}

.avatar {
  background: #38bdf8;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.user-location {
  font-size: 0.85rem;
  color: #64748b;
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}



.dashboard-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard-image {
  max-width: 250px;
  margin-bottom: 20px;
}

.dashboard-title {
  font-size: 2rem;
  font-weight: bold;
  color: #1e293b;
}
